[Unit]
Description=mybb-fpm
After=docker.service
After=percona.service
Requires=percona.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mybb-fpm
ExecStartPre=-/usr/bin/docker rm mybb-fpm
ExecStart=/usr/bin/docker run --name mybb-fpm -v /srv/mybb:/srv/mybb --link percona:mysql sample/mybb-fpm
ExecStop=/usr/bin/docker stop mybb-fpm

[Install]
WantedBy=multi-user.target
