[Unit]
Description=owncloud-fpm
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill owncloud-fpm
ExecStartPre=-/usr/bin/docker rm owncloud-fpm
ExecStart=/usr/bin/docker run --name owncloud-fpm -v /srv/owncloud:/srv/owncloud -p 192.168.1.1:9003:9000 sample/owncloud-fpm
ExecStop=/usr/bin/docker stop owncloud-fpm

[Install]
WantedBy=multi-user.target
