[Unit]
Description=percona
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill percona
ExecStartPre=-/usr/bin/docker rm percona
ExecStart=/usr/bin/docker run --name percona -v /var/lib/mysql:/var/lib/mysql -p 0.0.0.0:3306:3306 blackikeeagle/percona
ExecStop=/usr/bin/docker stop percona

[Install]
WantedBy=multi-user.target
